{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div id="RegistrationFormApp"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('registration') }}
{% endblock %}
