{% extends 'base.html.twig' %}
{% block title %}Create ticket{% endblock %}

{% block body %}
    <div id="CreateTicketApp"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('create_ticket') }}
{% endblock %}