{% extends 'base.html.twig' %}
{% block title %}Tickets{% endblock %}

{% block body %}
    <div id="TicketIndexApp"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('tickets') }}
{% endblock %}